.profile__wrapper {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  margin-top: 20px;
  min-width: 700px;
}

.profile {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin: 0px auto 10px auto;
  gap: 20px;
}

.profile_image-section {
  padding: 10px 30px;
}

.profile_img {
  border: 6px solid green;
  border-radius: 50%;
  object-fit: cover;
  height: 180px;
  width: 180px;
  margin-bottom: 20px;
}
.shadow {
  box-shadow: -1px 0px 15px -2px rgba(0, 0, 0, 0.62);
}

.border {
  border: 1px dotted black;
  border-radius: 4px;
}

.snippet {
  font-weight: 700;
  margin-bottom: 5px;
}
.snippet span {
  color: #09519d;
}

.data_card {
  padding: 5px 12px;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.icon {
  height: 40px;
}

.data h6 {
  margin-bottom: 4px;
  font-size: 14px;
}

.data p {
  margin-bottom: 14px;
  font-weight: 500;
}
